<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parser</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<style>

main {
margin: 20px;
}

table {
    border-collapse: collapse;
    font-size: small;
}
th, td {
    text-align: center;
    padding: 2px;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

.form-group {
    width: fit-content;
}

</style>

<body>
<main>
    <h1>Парсинг и загрузка в БД</h1>

    <form action="{% url 'parse' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <p></p>
        <div class="form-group" >
            <label for="upload_file">Загрузка файла для парсинга</label>
            <input type="file"
                   class="form-control-file"
                   title="Загрузка файла"
                   name="uploaded_file"
                   accept=".xlsx, .xls"
                   id="upload_file"
                   required>

        </div>
        <div>
                <input type="submit"
                class="btn-sm btn-primary"
                value="Парсить">
        </div>
    </form>
    <hr>

    <div class="printout">
        {% if error_message %}
            <h3>Неуспешная попытка парсинга файла</h3>
            <p>{{ error_message }}</p>
        {% endif %}
        <p>
        {% if df_html %}
            <h3>Загруженные данные:</h3>
            {% autoescape off %}
                {{ df_html }}
            {% endautoescape %}
        {% endif %}
        </p>
        <p>
        {% if pivoted_html %}
            <h3>Сводка загруженных данных:</h3>
            {% autoescape off %}
                {{ pivoted_html }}
            {% endautoescape %}
        {% endif %}
        </p>
    </div>

    <form method="post" action="{% url 'clear_table' %}">
        {% csrf_token %}
        <p></p>
        <div class="form-group">
            <div id="id_btn_clear">
                <input type="submit"
                       class="btn-sm btn-danger"
                       value="Очистить БД">
            </div>
        <div>
    </form>


</main>
</body>
</html>